.formBlock {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.formBlockTitle {
    color: #191C1E;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.14px;
}