.main {
    background: #F7F9FB
}

.main>div {
    padding: 40px 0;
}

.mainDates {
    display: flex;
    gap: 16px;
    margin-top: 24px;
    max-width: 100%;
    overflow-x: auto;
    padding-bottom: 8px;

    &::-webkit-scrollbar {
        height: 6px;
    }

    &::-webkit-scrollbar-button,
    &::-webkit-scrollbar-button:single-button,
    &::-webkit-scrollbar-button:start:decrement,
    &::-webkit-scrollbar-button:end:increment {
        display: none !important;
        width: 0 !important;
        height: 0 !important;
    }

    &::-webkit-scrollbar-track {
        background: #f1f5f9;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background: #cbd5e1;
        border-radius: 10px;

        &:hover {
            background: #94a3b8;
        }
    }
}

.mainDateItem {
    background-color: #ffffff;
    border: 1px solid #C6C6CD;
    width: 96px;
    height: 98px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 12px;
    flex-shrink: 0;
}

.activeDay {
    background-color: #0058BE;
    border: none;

    & .mainDate {
        color: #ffffff;
    }

    & .mainDateDay {
        color: #ffffff;
    }
}

.mainDate {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.36px;
    color: #76777D;
    text-align: center;
}

.mainDateDay {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.24px;
    color: #0F172A;
}

.mainFilter {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.games {
    width: 100%;
    max-width: 1280px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin-top: 40px;
}