.main {
    background: #F7F9FB
}

.main>div {
    padding: 40px 0;
}

.mainDates {
    display: flex;
    gap: 16px;
    margin-top: 24px;
    max-width: 100%;
    overflow-x: auto;
    padding-bottom: 8px;

    &::-webkit-scrollbar {
        height: 6px;
    }

    &::-webkit-scrollbar-button,
    &::-webkit-scrollbar-button:single-button,
    &::-webkit-scrollbar-button:start:decrement,
    &::-webkit-scrollbar-button:end:increment {
        display: none !important;
        width: 0 !important;
        height: 0 !important;
    }

    &::-webkit-scrollbar-track {
        background: #f1f5f9;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background: #cbd5e1;
        border-radius: 10px;

        &:hover {
            background: #94a3b8;
        }
    }
}

.mainDateItem {
    background-color: #ffffff;
    border: 1px solid #C6C6CD;
    width: 96px;
    height: 98px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 12px;
    flex-shrink: 0;
}

.activeDay {
    background-color: #0058BE;
    border: none;

    & .mainDate {
        color: #ffffff;
    }

    & .mainDateDay {
        color: #ffffff;
    }
}

.mainDate {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.36px;
    color: #76777D;
    text-align: center;
}

.mainDateDay {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.24px;
    color: #0F172A;
}

.mainFilter {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.games {
    width: 100%;
    max-width: 1280px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin-top: 40px;
}

.gameItem {
    list-style: none;
    width: 100%;
    background: #ffffff;
    border: 1px solid #e2e8f0;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.03);
    display: flex;
    flex-direction: column;
    gap: 16px;
    box-sizing: border-box;
}

.isFullgame {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), #F2F4F6;
    background-blend-mode: saturation, normal;
    opacity: 0.5;
    pointer-events: none;
    cursor: not-allowed;
    user-select: none;

    & .gamePlayersCount {
        color: #BA1A1A;
    }

    & .gameJoinBtn {
        background: #C6C6CD;
        color: #45464D;
        box-shadow: none;
    }
}

.gameHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.gameBadgesGroup {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.gameTagsRow {
    display: flex;
    align-items: center;
    gap: 8px;
}

.gameBadgeSport {
    background-color: #2170E4;
    color: #ffffff;
    padding: 4px 10px;
    border-radius: 6px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.36px;
}

.gameBadgeLevel {
    background-color: #D8E2FF;
    color: #0058BE;
    font-weight: 600;
    font-size: 13px;
    padding: 4px 10px;
    border-radius: 6px;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.36px;
}

.gameStrictLevel {
    display: flex;
    align-items: center;
    gap: 4px;
    color: #76777D;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.36px;
    margin-top: 4px;
}

.stick {
    color: #BA1A1A;
}

.gameStrictIcon {
    width: 14px;
    height: 14x;
    display: inline-block;
    fill: currentColor;
}

.gameTimeGroup {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.gameTime {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.24px;
    color: #0F172A;
}

.gameDuration {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.36px;
    color: #76777D;
}

.gameLocation {
    font-style: normal;
    display: flex;
    align-items: center;
    gap: 12px;
    border-bottom: #ECEEF0 solid 1px;
    border-top: #ECEEF0 solid 1px;
    padding: 4px 0;
}

.gameLocationIcon {
    width: 16px;
    height: 20px;
    flex-shrink: 0;
    fill: #76777D;
}

.gameLocationInfo {
    display: flex;
    flex-direction: column;
}

.gameClubName {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #0F172A;
}

.gameCourtName {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.36px;
    color: #76777D;
}

.gamePlayers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 0;
}

.gameAvatarsGroup {
    margin: 0;
    display: flex;
    align-items: center;
}

.gameAvatarImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ffffff;
    margin-right: -10px;
}

.gameAddPlayerBtn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ECEEF0;
    border: 2px solid #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0;
}

.gameAddPlayerIcon {
    width: 20px;
    height: 20px;
    fill: #76777D;
}

.gamePlayersCount {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.14px;
    color: #45464D;
}

.gameFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4px;
}

.gamePriceGroup {
    display: flex;
    flex-direction: column;
}

.gamePriceLabel {
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0.36px;
    color: #76777D;
}

.gamePriceValue {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.24px;
    color: #000000;
}

.gameJoinBtn {
    background: linear-gradient(106.96deg, #06B6D4 0%, #10B981 100%);
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding: 16px 40px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
}