.div {
    --input-surface: #F2F4F6;
    --input-border: #C6C6CD;
    --input-text: #191C1E;
    --input-secondary-text: #45464D;

    display: flex;
    flex-direction: column;
    width: 100%;
}

.label {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    margin-bottom: 8px;
    color: var(--input-secondary-text);
}

.input {
    padding: 14px 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    height: fit-content;
    background: var(--input-surface);
    border: 1px solid var(--input-border);
    border-radius: 20px;
}

.icon {
    height: 20px;
    width: 20px;
    fill: var(--input-secondary-text);
}

.placeholder {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--input-text);
}
