.header {
    border-bottom: 1px solid #C6C6CD;
}

.header > div {
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
    flex-direction: row;
}

.headerLogoIcon {
    height: 32px;
}

.headerNav {
    display: flex;
    gap: 24px;
}

.headerNavLink {
    display: flex;
    align-items: center;
    gap: 4px;
}

.active {
   border-bottom: 2px solid #0058BE; 

   & .headerNavSpan {
        color: #0058BE;
   }

   & .headerNavIcon {
            fill: #0058BE;
    }
}

.headerNavSpan {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #45464D;
}

.headerNavIcon {
    width: 16px;
    height: 16px;
    fill: #45464D;
}

.headerList {
    display: flex;
    gap: 16px;
}

.headerIcon {
    height: 20px;
}