.header {
    border-bottom: 1px solid var(--header-border);
}

.header>div {
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 16px;

    @media (min-width: 1280px) {
        padding: 16px 32px;
    }
}

.headerPageName {
    display: block;
    color: #191C1E;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.24px;

    @media (min-width: 1280px) {
        display: none;
    }
}

.headerLogo {
    display: none;

    @media (min-width: 1280px) {
        display: block;
        height: 32px;
    }
}

.headerNav {
    display: none;

    @media (min-width: 1280px) {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
    }
}

.headerNavLink {
    display: flex;
    align-items: center;
    gap: 4px;
}

.active {
    border-bottom: 2px solid var(--header-active);

    & .headerNavSpan {
        color: var(--header-active);
    }

    & .headerNavIcon {
        fill: var(--header-active);
    }
}

.headerNavSpan {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--header-text);
}

.headerNavIcon {
    width: 16px;
    height: 16px;
    fill: var(--header-text);
}

.headerList {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.headerIcon {
    height: 20px;
}