.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .cardTitle {
        color: var(--stat-text);
    }

    .cardIcon {
        width: 18px;
        height: 18px;
        flex-shrink: 0;
        fill: var(--stat-text);
    }
}